<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="cursor: pointer" routerLink="/" class="navbar-brand">Winomatic</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <ng-template [ngIf]="!isAuthenticated()">
          <li><a style="cursor: pointer">Login</a></li>
          <li><a style="cursor: pointer">Register</a></li>
        </ng-template>

        <li><a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="isAuthenticated()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
