
<div class="row">
  <div class="col-xs-12">

    <app-bottle-item
      *ngFor="let bottleEl of bottles; let i = index"
      [bottle]="bottleEl"
      [index]="i"
      (click)="onEditBottle(i)"></app-bottle-item>
  </div>
</div>
