
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <!--[disabled]="!editMode"-->
      <div class="col-xs-12 edit">
        <div class="col-xs-4"><input type="text" class="form-control" ngModel id="name" name="name" required></div>
        <div class="col-xs-1"><input type="text" class="form-control" ngModel id="year" name="year"></div>
        <div class="col-xs-2"><input type="text" class="form-control" ngModel id="country" name="country" required></div>
        <div class="col-xs-2"><input type="text" class="form-control" ngModel id="region" name="region" required></div>
        <div class="col-xs-2"><input type="text" class="form-control" ngModel id="aoc" name="aoc"></div>
        <div class="col-xs-1"><input type="text" class="form-control" ngModel id="num" name="num" required></div>
      </div>
      <div class="col-xs-12 edit">
        <div class="col-xs-6">
          <br>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button *ngIf="editMode" (click)="onClear()" class="btn">Clear</button>
          <button *ngIf="editMode" (click)="onDelete()" class="btn btn-danger">Delete</button>
          <br><br>
        </div>
      </div>
    </form>
