<div class="row">
  <div class="col-xs-12">
    <button
      class="btn"
      (click)="onAddBottle()"
    >Add Bottles</button>
  </div>
</div>

    <hr>

<div class="row">
  <div class="col-xs-12 categories">
        <p class="col-xs-4"><strong>Name</strong></p>
        <p class="col-xs-1"><strong>Year</strong></p>
        <p class="col-xs-2"><strong>Country</strong></p>
        <p class="col-xs-2"><strong>Region</strong></p>
        <p class="col-xs-2"><strong>AOC</strong></p>
        <p class="col-xs-1"><strong>Number</strong></p>
  </div>
</div>

    <router-outlet></router-outlet>
    <app-bottle-list></app-bottle-list>
