<a
  class="list-group-item clearfix"
  [routerLink]="[index]"
  style="cursor: pointer"
  routerLinkActive="active"
  class="list-group-item clearfix"
  >
          <p class="col-xs-4">{{ bottle.name }}</p>
          <p class="col-xs-1">{{ bottle.year }}</p>
          <p class="col-xs-2">{{ bottle.country }}</p>
          <p class="col-xs-2">{{ bottle.region }}</p>
          <p class="col-xs-2">{{ bottle.aoc }}</p>
          <p class="col-xs-1">{{ bottle.number }}</p>

</a>
